<!DOCTYPE html>
<html>
  <head>
    <title>Wendygo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Wendygo', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to '#', class: 'nav-link' do %>
                <i class="fa fa-plus-circle"></i>
                New Game
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>


    
    <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Contact</b>
            <br />
            zoebkramer@gmail.com
            <br />
            San Francisco CA, 94103
          </div>
          <div class="col-12 col-sm-3">
            <b>Social</b>
            <br />
            <%= link_to 'https://github.com/ZoeBKramer' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/zoe-kramer-a68640162/' do %>
                <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
